<button class="btn btn-primary btn-decide" (click)='onDecisionClick(decisionTemplate)'>What should I do?</button>

<div class="cockpit-body">
  <div class="cockpit-header">
    <p class="float-left your-options">Your options</p>
    <p class="float-right remove-all" (click)="onRemoveAllClick()">Remove all</p>
  </div>
  <div class="cockpit-text">
    <p class="option-text">Please add options to get started!</p>
  </div>
  <div class="cockpit-list">
    <app-decision-list></app-decision-list>
  </div>
  <div class="cockpit-input">
    <div class="row">
      <div class="col-md-9">
        <input type="text" placeholder="Add option here." #input>
      </div>
      <div class="col-md-3">
        <button class="btn btn-primary btn-input" (click)="onAddClick()">Add option</button>
      </div>
    </div>
  </div>
</div>
 
<ng-template #decisionTemplate>
  <div class="modal-custom">
    <div class="modal-header">
      <h4 class="modal-title">Decision</h4>
    </div>
    <div class="modal-body">
      <p>{{decision}}</p>
      <button type="button" class="btn btn-primary" aria-label="Close" (click)="decisionModalRef.hide()">Okay</button>
    </div>
  </div>
</ng-template>

<ng-template #decisionExistsTemplate>
  <div class="modal-custom">
    <div class="modal-header">
        <h4 class="modal-title pull-left">Oh no!</h4>
      </div>
      <div class="modal-body">
         <p>The decision you typed already exists!</p>
         <button type="button" class="btn btn-primary" aria-label="Close" (click)="decisionExistsModalRef.hide()">Okay</button>
      </div>
 </div>
</ng-template>
