.element-container {
    padding: 7%;
    font-size: 1.2em;
    width: 100%;
    background: rgb(64, 66, 88);
    color: rgb(180, 165, 209);;
    border-top: 1px solid white;
}

.remove-text:hover {
    cursor: pointer;
    text-decoration: underline;
}